body
{
  background-color: #FFEBC1;
}
hr
{
  border-style:none;
  border-top-style:dotted;
  border-width: 5px;
  width:5%;
  border-color: #9D5C0D;
}
img
{
  height: 500px;
}
h1
{
  color: #9D5C0D;
}
h3
{
  color: #9D5C0D;
}
